:root {
  font-size: 16px;
  font-family: var(--font-primary), sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--color-secondary);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-primary-100: #82cbb2;
  --color-primary-75: #8dd3bb;
  --color-primary-50: #9be0c8;
  --color-primary-25: #a5ebd3;
  --color-primary-0: #cdeae1;

  --color-secondary: #112211;
  --color-secondary-op-80: #112211CC;
  --color-secondary-op-70: #112211B3;
  --color-secondary-op-20: #11221133;
  --color-accent: #ff8682;
  --color-error: #FD736E;

  --color-neutral-100: #1C1B1F;
  --color-neutral-75: #79747e;
  --color-neutral-50: #8f8c91;
  --color-neutral-25: #d2d1d3;
  --color-neutral-0: #ffffff;

  /* Typography */
  --font-primary: 'Monserrat';

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-10: 0.625rem; /* 10px */
  --font-size-12: 0.75rem; /* 12px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-24: 1.5rem; /* 24px */
  --font-size-32: 2rem; /* 32px */
  --font-size-36: 2.25rem; /* 36px */
  --font-size-40: 2.5rem; /* 40px */
  --font-size-44: 2.75rem; /* 44px */

  /* Spacing */
  --page-padding-vt: 1.313rem;
  --page-padding-hz: 6.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Typography imports */
@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
