/* Typography imports */
@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-semi-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monserrat';
  src: url('assets/fonts/monserrat-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-primary: #8DD3BB;
  --color-secondary: #112211;
  --color-accent: #FF8682;
  --color-neutral: #FFFFFF;

  /* Typography */
  --font-primary: 'Monserrat', 'Ubuntu';
}
